body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container{
    width:  70%;
    padding: 1rem;
    border: 1px solid #000;
}
#explicar{
    border:1px dashed rgb(155, 200, 85);
    border-radius: 6%;
    padding: 1rem;
}